<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635344454487-lk8qoaqh2js0bsebkm67njo80fde7t34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635344454487-lk8qoaqh2js0bsebkm67njo80fde7t34</string>
	<key>API_KEY</key>
	<string>AIzaSyDXevNKfu5VysNy3W6oDnrC1R39TPJYUhk</string>
	<key>GCM_SENDER_ID</key>
	<string>635344454487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mohammedabdnewproject</string>
	<key>PROJECT_ID</key>
	<string>mohammedabdproject</string>
	<key>STORAGE_BUCKET</key>
	<string>mohammedabdproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635344454487:ios:8bbddd69c8343e4e0e7412</string>
</dict>
</plist>